@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* VARIABLES BOOTSTRAP */
$bootstrap-icons-font-src: url("../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff"), url("../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2");

/* COLORS */
$colorLogo:#D04F4F;
$colorGrey:#E7E7E7;

/* FONTS */
$fontSizeCardHeader: 18px;
$fontSizeCardBody: 12px;
$principalFont: "Lato", sans-serif;
$fontTextCard: "Roboto", sans-serif;
$fontBold: 700;