.filter {
  &__buttons {
    display: flex;
    margin-top: 20px;
    margin-bottom: 82px;

    & form {
      display: flex;
      flex-direction: column;
      position: relative;
      & div {
        display: flex;
        flex-direction: row;
        & input {
          width: 203px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        & input::placeholder {
          color: white;
        }
      }
    }
  }
}

#input-ingredients {
  background-color: $colorIngredients;
  border: solid 1px $colorIngredients;
  color: white;
}
#input-appliances {
  background-color: $colorAppliance;
  border: solid 1px $colorAppliance;
  color: white;
}
#input-ustensils {
  background-color: $colorUstensils;
  border: solid 1px $colorUstensils;
  color: white;
}

.btn {
  display: flex;
  margin-right: 20px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  & .bi-chevron-up {
    display: none;
  }
}

.btn-primary {
  @include button-variant($colorIngredients, $colorIngredients);
  pointer-events: visible;
}

.btn-secondary {
  @include button-variant($colorAppliance, $colorAppliance);
}

.btn-success {
  @include button-variant($colorUstensils, $colorUstensils);
}

.tags-list {
  position: absolute;
  list-style-type: none;
  overflow: auto;
  flex-wrap: wrap;
  z-index: 1;
  max-height: 397px;
  width: 667px;
  top: 38px;
}

.list-options-ingredients, .list-options-appliances, .list-options-ustensils {
  width: 30%;
  color: white;
  cursor: pointer;
}

#ingredients-list{
  display: none;
  background-color: $colorIngredients;
}

#appliances-list{
  display: none;
  background-color: $colorAppliance;
}

#ustensils-list{
  display: none;
  background-color: $colorUstensils;
}

.bi-chevron-up, .bi-chevron-down {
  align-self: center;
}